@import "tailwindcss";

@theme {
  --color-canada-red: #FF0000;
  --color-aurora-green: #24E5BF;
  --color-aurora-purple: #4F46E5;
  --color-aurora-blue: #1e1b4b;

  --font-lato: var(--font-lato);
}

:root {
  --background: #fafafa;
  /* bg-zinc-50 equivalent */
  --foreground: #171717;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-lato), sans-serif;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='0.05'/%3E%3C/svg%3E");
}